*
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    margin: 0;
    padding: 0;

    z-index: 5;
}

::-webkit-scrollbar
{
    display: none;
}

html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{   
    background-color: #003318;
    overflow-x: hidden;
}

/* * Main Container */
#mainContainer
{
    width: 100dvw;
    min-height: 100vh;

    top: 0;
    left: 0;

    position: absolute;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 0;
}

#grid
{
    position: fixed;

    top: 0;
    left: 0;

    opacity: 0.08;

    height: 100vh;
    width: 100dvw;

    background-size: 50px 50px;
    background-image:
    linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, black 1px, transparent 1px);

    z-index: -1;
}

#works
{
    display: flex;

    align-items: center;
    justify-content: space-around;

    flex-direction: column;

    width: 100%;
    height: 100vh;
}

#contacts
{
    display: flex;

    align-items: center;
    justify-content: space-around;

    flex-direction: column;

    width: 100%;
    height: 100vh;
}

/* * Home */
#home
{
    display: flex;

    align-items: normal;
    justify-content: space-around;

    flex-direction: column;

    width: 100%;
    height: 100vh;
}

#name
{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-around;

    padding: 0 clamp(20px, 10dvw, 200px);
    z-index: 50;
}

#name p
{
    font-size: 18px;
    font-family: "Space Mono", monospace;

    width: fit-content;

    opacity: 0;
}

#name h1
{ 
    padding-bottom: 20px;

    line-height: 0.8;
    font-size: 100px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;

    width: fit-content;

    color: #fff;

    opacity: 0;
}

#name h2
{
    font-size: 25px;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;

    color: #11823b;

    transform: translateX(338px);

    opacity: 0;
}

#name h3
{
    padding: 10px 0 20px;
    font-size: 20px;
    font-family: "Space Mono", monospace;
    font-weight: 300;
    color: #91f086;
    
    text-align: justify;

    width: clamp(200px, 65dvw, 600px);

    opacity: 0;
}

#nameResumeButton
{

    font-size: 14px;
    font-family: "Roboto Mono", monospace;

    background-color: #003318;
    border: 1px solid #91f086;
    border-radius: 5px;

    color: #91f086;

    cursor: pointer;

    width: 150px;
    height: 50px;

    transition: 0.2s ease;
}

#nameResumeButton:hover
{
    box-shadow: 4px 4px #91f086;
    transform: translate(-5px,-5px);
}

#name a
{
    opacity: 0;
}

/* * About Me */
#about
{
    display: flex;

    align-items: center;
    justify-content: space-around;

    flex-direction: column;

    width: 100%;
    height: 100vh;
}

#aboutMe
{
    display: flex;
    width: 50%;
    flex-direction: column;
    
    align-items: flex-start;
    justify-content: center;

    opacity: 1;
}

#aboutMe h1
{
    color: #fff;
    font-size: 50px;
    font-family: Arial, sans-serif;
    
    opacity: 0;
}

#aboutMe p
{
    padding: 5px 0;
    font-size: 18px;
    color: #11823b;
    font-family: Arial, Helvetica, sans-serif;

    text-align: justify;

    opacity: 0;
}

/* * My Works */
#myWorks h1
{
    color: #fff;
    font-size: 100px;
    font-family: Arial, sans-serif;

    opacity: 0;
}

/* * My Contacts */
#myContacts h1
{
    color: #fff;
    font-size: 100px;
    font-family: Arial, sans-serif;
    
    opacity: 0;
}

#footer
{
    position: absolute;

    bottom: 25px;

    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    color: #11823b;
}

#builtBy
{
    opacity: 0;
}

/* * Contact Infomation */
#contactLeft
{
    width: 75px;
    height: 370px;

    position: fixed;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

    bottom: 0;
    left: 0;
}

#contactLeft::after
{
    content: '';
    width: 0.5px;
    height: 75px;

    background-color: #91f086;

    opacity: 0;
}

#contactLeft ul
{
    height: 270px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    list-style: none;
}

#contactLeft li
{
    opacity: 0;
}

#contactLeft i
{
    transition: 0.4s;
}

#contactLeft i:hover
{
    transform: translateY(-10px);
}

#contactLeft a
{
    font-size: 25px;
    color: #02ff5e;
}

#contactRight
{
    width: 75px;
    height: 240px;

    position: fixed;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

    bottom: 0;
    right: 0;
}

#contactRight::after
{
    content: '';
    width: 0.5px;
    height: 75px;

    background-color: #91f086;

    opacity: 0;
}

#contactRight p
{
    transform: translateX(2px) rotate(90deg);
    opacity: 0;
}

#contactRight a
{
    color: #02ff5e;
    text-decoration: none;

    font-family: "Space Mono", monospace;
}

#eMailBottom
{
    visibility: hidden;
}

/* * Navigation Bar */
#navigationBar
{
    position: fixed;

    display: flex;

    align-items: center;
    justify-content: space-between;

    top: 0;
    left: 0;

    height: 75px;
    width: 100vw;

    transition: 0.4s ease;

    z-index: 90;
}

#navigationBar.scrollDown
{
    transform: translate(0,-100%);
}

#navigationBar.scrollUp
{
    backdrop-filter: blur(16px);
    background-color: rgba(0, 51, 24,0.6);

    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
}

#logo
{
    width: 50px;
    height: 50px;

    padding: 0 25px; 
    
    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-size: 30px;
    color: #91f086;

    opacity: 0;
}

#navigation
{
    padding-right: 25px;
    width: 600px;
}

#navigation ul
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    list-style: none;
}

#navigation li
{
    cursor: pointer;
    
    opacity: 0;
}

#navigation p
{
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    color: #48bf53;

    transition: 0.4s ease;
}

#navigation a
{
    text-decoration: none;
}

#navigation p:hover
{
    transform: translateY(-5px);
}

.highlight
{
    font-family: "Space Mono", monospace;
    color: #91f086;

    font-weight: 100;
}

/* * Resume Button */
#resumeButton
{
    font-size: 12px;
    font-family: "Roboto Mono", monospace;

    background-color: #003318;
    border: 1px solid #91f086;
    border-radius: 5px;
    
    color: #91f086;

    cursor: pointer;

    width: 90px;
    height: 40px;

    transition: 0.2s ease;
}

#resumeButton:hover
{
    box-shadow: 4px 4px #91f086;
    transform: translate(-5px,-5px);
}

 /* * Loading Animation */
#loadingScreen
{
    position: fixed;

    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    background-color: #02231c;

    display: flex;
    align-items: center;    
    justify-content: center;

    opacity: 1;
    z-index: 1000;

    transition: 0.5s ease;
}

#mainContainer.loaded #loadingScreen
{
    background: none;

    z-index: 1;

    transition: 1s ease;

    pointer-events: none;
}

#loadingScreen svg
{
    width: 300px;

    overflow-x: visible;

    stroke: #91f086;
    stroke-width: 5px;

    fill-opacity: 0;

    stroke-dasharray: 4500;

    animation: drawLogo 15s ease;
}

#mainContainer.loaded #loadingScreen svg
{
    width: 600px; 

    stroke: #004d24;
    opacity: 0.5;

    transition: 1.5s ease;
}

#mainContainer.loaded
{
    overflow: visible;
}

#mainContainer.loaded #logo, 
#mainContainer.loaded #navigation li:nth-child(1), 
#mainContainer.loaded #navigation li:nth-child(2), 
#mainContainer.loaded #navigation li:nth-child(3), 
#mainContainer.loaded #navigation li:nth-child(4),
#mainContainer.loaded #navigation li:nth-child(5)
{
    animation: transitionInFromBottom 0.8s ease forwards;
}

#mainContainer.loaded #name p, 
#mainContainer.loaded #name h1, 
#mainContainer.loaded #aboutMe h1,
#mainContainer.loaded #aboutMe p,
#mainContainer.loaded #myWorks h1,
#mainContainer.loaded #myContacts h1,
#mainContainer.loaded #name h2,
#mainContainer.loaded #name h3,
#mainContainer.loaded #name a,
#mainContainer.loaded #contactLeft li:nth-child(1),
#mainContainer.loaded #contactLeft li:nth-child(2),
#mainContainer.loaded #contactLeft li:nth-child(3),
#mainContainer.loaded #contactLeft li:nth-child(4),
#mainContainer.loaded #contactLeft li:nth-child(5),
#mainContainer.loaded #contactRight p,
#mainContainer.loaded #eMailBottom,
#mainContainer.loaded #builtBy
{
    animation: transitionIn 0.8s ease forwards;
}

#mainContainer.loaded #contactLeft::after
{
    animation: transitionIn 0.8s ease 2.9s forwards;
}

#mainContainer.loaded #contactRight::after
{
    animation: transitionIn 0.8s ease 3.2s forwards;
}

#mainContainer.loaded #contactRight p
{   
    animation: eMailTransitionIn 0.8s ease 3.1s forwards;
}

@keyframes drawLogo
{
    0%
    {
        stroke-dashoffset: 4500;
    }
    100%
    {
        stroke-dashoffset: 0;
    }
}

@keyframes transitionIn 
{
    from
    {
        opacity: 0;
        transform: translateY(50px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes transitionInFromBottom 
{
    from
    {
        opacity: 0;
        transform: translateY(-50px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes eMailTransitionIn {
    from
    {
        opacity: 0;
        transform: translate(2px, 50px) rotate(90deg);
    }
    to
    {
        opacity: 1;
        transform: translate(2px, 0px) rotate(90deg);
    }
}

/* * Cursor traier */
#mainContainer:hover > #cursorTrailer
{
    opacity: 1;
}

#cursorTrailer
{
    height: 25px;
    width: 25px;

    background-color: #ccd6f6;
    color: #02231c;
    border-radius: 20px;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    display: grid;
    place-items: center;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;

    mix-blend-mode: difference;
}

#cursorTrailer:not([data-type=""]) > #trailerIcon
{
    opacity: 1;
}

#trailerIcon
{
    font-size: 10px;
    line-height: 4px;

    opacity: 0;
    transition: opacity 400ms ease;
}

/* *Mobile Responsiveness */
@media (max-width: 870px) 
{
    #mainContainer:hover > #cursorTrailer
    {
    opacity: 0;
    }

    #name h1
    {
        line-height: 0.8;
        font-size: clamp(70px, 11.5dvw, 100px); 
        padding: 18px 0 10px;
    }

    #name h2
    {
        font-size: clamp(20px, 3.13dvw, 25px);
        animation: none;
    }

    #name h3
    {
        font-size: clamp(20px, 2.304dvw, 30px);
    }

    #name p
    {
        font-size: clamp(18px, 2.25dvw, 18px);
    }

    #contactLeft
    {
        width: 300px;
        height: 35px;
        
        position: relative;
    }

    #contactLeft::after
    {
        position: absolute;
        visibility: hidden;
    }

    #contactLeft ul
    {
        flex-direction: row;

        width: 300px;
        height: 35px;

    }

    #contactRight
    {
        visibility: hidden;
    }

    #contactRight::after
    {
        position: absolute;
        visibility: hidden;
    }

    #eMailBottom
    {
        visibility: visible;
        opacity: 0;
    }

    #eMailBottom a
    {
        color: #48bf53;
        text-decoration: none;

        font-family: "Space Mono", monospace;
    }

    #aboutMe
    {
        width: 80%;
    }

}

@media (max-width: 320px) 
{
    #name h2
    {
        transform: translate(0,25px);
    }

}
